/* -------------------------------------------------------------------------- */
/*                                  variables                                 */
/* -------------------------------------------------------------------------- */
/* --------------------------------- colors --------------------------------- */
/* ---------------------------------- fonts --------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   mixins                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 responsive                                 */
/* -------------------------------------------------------------------------- */
/* --------------------------- desktop and tablet --------------------------- */
@media screen and (min-width: 480px) {
  .responsive-flexy {
    display: flex;
    vertical-align: middle;
    margin: 0px;
  }
  .responsive-flexy .narrow {
    width: 31%;
    margin: 1%;
  }
  .responsive-flexy .wide {
    width: 65%;
    margin: 1%;
  }
  .responsive-flexy .half {
    width: 48%;
    margin: 1%;
  }
  .responsive-flexy .very-narrow {
    width: 18%;
    margin: 1%;
  }
  .responsive-flexy .very-wide {
    width: 78%;
    margin: 1%;
  }
}
/* --------------------------------- mobile --------------------------------- */
@media screen and (max-width: 480px) {
  .responsive-flexy * {
    margin: 2%;
  }
}
/* -------------------------------------------------------------------------- */
/*                                html defaults                               */
/* -------------------------------------------------------------------------- */
* {
  transition: 0.5s;
}

html {
  background-color: #81a0ad;
  background-image: linear-gradient(rgba(9, 9, 47, 0.6), rgba(9, 9, 47, 0.6)), url("https://images.unsplash.com/photo-1682001426601-c7fdc9ea5b4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: subtract;
}

body {
  max-width: 980px;
  margin: auto;
}

/* ---------------------------------- text ---------------------------------- */
h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 56px;
  color: #01271b;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: min(32px, 5vw);
  font-weight: 600;
  text-transform: uppercase;
  color: #01271b;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* -------------------------------------------------------------------------- */
/*                      classes used throughout the page                      */
/* -------------------------------------------------------------------------- */
.button {
  cursor: pointer;
  background-color: #0f5640;
  color: #bae3dd;
  padding: 2%;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}
.button:hover {
  background-color: #4545cf;
}

.link {
  text-decoration: underline;
  color: #0f5640;
}
.link:hover {
  color: #4545cf;
}

.space {
  margin: 50px;
}

.divider {
  background-color: #0f5640;
  margin: 0px;
  padding: 2%;
}

.transparent-section {
  background-color: rgba(1, 39, 27, 0.6666666667);
  z-index: -1;
  padding: 5%;
}

.flexy {
  display: flex;
  vertical-align: middle;
  margin: 0px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
.flexy .narrow {
  width: 31%;
  margin: 1%;
}
.flexy .wide {
  width: 65%;
  margin: 1%;
}
.flexy .half {
  width: 48%;
  margin: 1%;
}
.flexy .very-narrow {
  width: 18%;
  margin: 1%;
}
.flexy .very-wide {
  width: 78%;
  margin: 1%;
}

.light-bg {
  background-color: #bae3dd;
  padding: 2%;
}

.fa-solid {
  color: #bae3dd;
  font-size: 2em;
  cursor: pointer;
  margin: auto;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
}
.fa-solid:hover {
  color: #4545cf;
}
.fa-solid.current {
  color: #4545cf;
}

/* -------------------------------------------------------------------------- */
/*                         classes and ids by section                         */
/* -------------------------------------------------------------------------- */
/* ----------------------------- gallery section ---------------------------- */
.slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0px;
}

.nav-div {
  text-align: center;
}

.image-div {
  width: 90%;
  height: 80vh;
}

.slides-div {
  margin: 0px;
  padding: 0px;
}

.arrow-div {
  width: 5%;
}/*# sourceMappingURL=styles.css.map */